<footer class="page-footer red lighten-4">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="grey-text text-darken-4">JR Food</h5>
        <p class="grey-text text-darken-3">Thank you for your support!</p>
      </div>

    </div>
  </div>
  <div class="footer-copyright red lighten-1">
    <div class="container">
    © 2017 Copyright TeamJR
    <a class="grey-text text-lighten-4 right" href="#"></a>
    </div>
  </div>
</footer>
