<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head %>
  </head>
  <body>
    <% include ../partials/navbar %>
    <br>
    <a href="/menus"> Back to Menu List </a>
    <br>

    <h5><%= title %></h5>

    <% include ../partials/card_message %>
    <% include ../partials/card_error %>


    <form action="/menus/edit/<%= menu.id %>" method="post">
      <div class="row">
        <div class="input-field col s6">
          <input placeholder="Menu Name" type="text" name="name", value="<%= menu.name %>">
        </div>
      </div>

      <div class="row">
        <div class="input-field col s6">
          <input placeholder="Price" type="text" name="price" value="<%= menu.price %>">
        </div>
      </div>

      <div class="row">
        <div class="input-field col s2">
        </div>
        <div class="input-field col s2">
          <input class="btn" type="submit" value="Submit">
        </div>
        <div class="input-field col s2">
        </div>
        <div class="input-field col s6">
        </div>
      </div> <!-- end of class row-->

    </form>




  </body>
</html>
