<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head %>
  </head>
  <body class="container">
    <% include ../partials/navbar %>

    <p>
      Hey <%= user.username %> !
    </p>

    <% include ../partials/card_message %>
    <% include ../partials/card_error %>

  </body>
</html>
