<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head %>
  </head>
  <body class="container">
    <% include ../partials/navbar %>
    <h3><%= title %></h3>

    <% include ../partials/card_message %>
    <% include ../partials/card_error %>

  </body>

</html>
